<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title | HomespunWish</title>
    <!-- Bootstrap core CSS -->
    <link href="~/Content/Styles/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">
    
    <link href="~/Content/Fonts/FontAwesome.otf" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/Styles/business-casual.css"/>
    <link href="~/Content/Styles/custom.css" rel="stylesheet" />

</head>
<body>
    <!-- Navigation -->
    <div id="outernav">
        <nav id="innernav" class="navbar navbar-left navbar-expand-lg navbar-expand-md navbar-expand-sm navbar-light py-lg-4">

            <div class="container" id="nav">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive2" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive2">
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </nav>
        <nav id="outernav2" class="navbar navbar-left navbar-expand-lg navbar-expand-md navbar-expand-sm navbar-light bg-faded py-lg-4">

            <div class="container mainmenu" id="nav">
                <a class="navbar-brand" href="~/Home/Index"><img id="minilogo" src="~/Content/Image/HCLogo250x99.png" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav">
                        <li class="nav-item px-lg-4">
                            <a class="nav-link text-uppercase text-expanded" href="@Url.Action("About", "Home")">About</a>
                        </li>
                        <li class="nav-item px-lg-4">
                            <a class="nav-link text-uppercase text-expanded" href="@Url.Action("Index", "Families")">
                                My Family
                            </a>
                        </li>
                        <li class="nav-item px-lg-4">
                            <a class="nav-link text-uppercase text-expanded" href="@Url.Action("Index", "Items")">My List</a>
                        </li>
                        <li class="nav-item px-lg-4">
                            <a class="nav-link text-uppercase text-expanded" href="@Url.Action("Contact", "Home")">Contact</a>
                        </li>
                        @if (ViewBag.Title == "Home")
                        {
                            <li id="cart-button" class="nav-item px-lg-4">
                                <a class="nav-link text-uppercase text-expanded" href="#">
                                    <i class="fa fa-shopping-cart"></i> Cart
                                </a>
                                <span id="cart-notification" class="notification-counter"></span>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>


    </div>
    <div class="container body-content">


        @RenderBody()
    </div>
    <footer class="bg-faded text-center">
        <div class="container">
            <p class="m-0">Copyright &copy; Homespun Classics @DateTime.Now.Year</p>
            @ViewBag.MostRecentPost
        </div>
    </footer>

    <div id="dialog" title="Shopping Cart">
        <p id="cart-contents">
            Your cart is currently empty.
        </p>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="~/Content/Scripts/bootstrap.min.js"></script>
    <script src="~/Content/Scripts/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    @* jQuery Validation *@
    @* This was dded to enable the client side form validation that
        is added by the Model Data Annotations *@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript"
            async defer
            src="//assets.pinterest.com/js/pinit.js"></script>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    <script>
        $(document).ready(function () {
            $('.body-content').css('margin-top', $('#outernav').height() + 'px');
        });

        $(window).resize(function () {
            $('.body-content').css('margin-top', $('#outernav').height() + 'px');
        });
    </script>
    @RenderSection("Scripts", false)
</body>
</html>